@page
@model asp_presentacion.Pages.Ventanas.Test2.IndexModel
@{
}
<h2>Ventana de Test2</h2>

@if (ViewData.ContainsKey("Mensaje"))
{
    @await Html.PartialAsync("../../Emergentes/Mensajes.cshtml")
}

<div>@await Html.PartialAsync("Listar.cshtml")</div>

